@font-face {
    font-family: 'orbitronbold';
    src: url('../fonts/orbitron-bold-webfont.woff2') format('woff2'),
         url('../fonts/orbitron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.workClock {
	font-family: 'orbitronbold';
	font-size: 40px;
}
.workClock .h1, .workClock .m1, .workClock .s1, .workClock .h2, .workClock .m2, .workClock .s2{
	width: 43px;
	display: inline-block;
}
#app {
	z-index: -100;
}
div.views {
	opacity: 0;
}
#loading-overlay {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "proxima-nova-soft", sans-serif;
  -webkit-user-select: none;
  overflow: hidden;
  z-index: 100;
}
.toolbar-inner .left {
	padding-left: 13px;
}
.rotate-180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#wkv-calendar .calendar-month-current .calendar-day.hl1 span {
	background-color: #ffcccc;
}
#wkv-calendar .calendar-month-current .calendar-day.hl2 span {
	background-color: #ffaaaa;
}
#wkv-calendar .calendar-month-current .calendar-day.hl3 span {
	background-color: #ff9999;
}
#wkv-calendar .calendar-month-current .calendar-day.hl4 span {
	background-color: #ff7777;
}
#wkv-calendar .calendar-month-current .calendar-day.hl5 span {
	background-color: #ff5555;
}
#wkv-calendar .calendar-month-current .calendar-day.hl6 span {
	background-color: #ff4444;
}
#wkv-calendar .calendar-month-current .calendar-day.hl7 span {
	background-color: #ff3333;
}
#wkv-calendar .calendar-month-current .calendar-day.hl8 span {
	background-color: #ff2222;
}
#wkv-calendar .calendar-month-current .calendar-day.hl9 span {
	background-color: #ff1111;
}
#wkv-calendar .calendar-month-current .calendar-day.hl10 span {
	background-color: #ff0000;
}
#wkv-calendar .calendar-month-current .calendar-day.hl11 span {
	background-color: #ee0000;
}
#wkv-calendar .calendar-month-current .calendar-day.hl12 span {
	background-color: #dd0000;
}
#wkv-calendar .calendar-month-current .calendar-day.hl13 span {
	background-color: #cc0000;
}
#wkv-calendar .calendar-month-current .calendar-day.hl14 span {
	background-color: #bb0000;
}
#wkv-calendar .calendar-month-current .calendar-day.hl15 span {
	background-color: #aa0000;
}
#wkv-calendar .calendar-month-current .calendar-day.hl16 span {
	background-color: #990000;
}
.data-table table.event_list td.label-cell, .data-table table.event_list th.label-cell {
	padding-left: 10px;
	padding-right: 10px;
}
.data-table, .popup, .popover {
	height: calc(100% - 56px);
	overflow-x: auto;
}
.w200 {
	display: inline-block;
	width: 170px;
}
.w85 {
	display: inline-block;
	width: 55px;
}
div.fab.fab-right-bottom.evtd_shr{
	bottom: 75px;
	z-index: 5000;
}
div.popup.popup-stnc{
	height: 100%;
}
.popup-stnc .swiper-slide span {
	position: absolute;
	transform: rotate(90deg);
	font-family: 'Arial';
	font-weight: 500;
	color: #332314;
	opacity: 0.8;
}
@media screen and (min-width : 360px)
{
	.popup-stnc .swiper-slide span {
		font-size: 15px !important;
		display: block;
	}
	.ncf-img, .ncb-img {
		width: 280px;
		box-shadow: -6px 10px 20px 2px rgba(0, 0, 0, 0.3);
		border-radius: 50px;
		margin-top: 10px;
		margin-bottom: 25px;
	}
	.ncf-pos1 {
		text-align: right;
		left: calc(50% - 63px);
		bottom: 244px;
		width: 160px;
	}
	.ncf-pos2 {
		text-align: right;
		left: calc(50% - 76px);
		bottom: 244px;
		width: 160px;
	}
	.ncf-name {
		left: calc(50% - 68px);
		top: 440px;
		width: 160px;
	}
	.ncf-tel {
		text-align: right;
		left: calc(50% - 111px);
		bottom: 171px;
		width: 160px;
	}
	.ncf-email {
		text-align: right;
		left: calc(50% - 185px);
		bottom: 216px;
		width: 250px;
	}
}
@media screen and (min-width : 420px)
{
	.popup-stnc .swiper-slide span {
		font-size: 17px !important;
		display: block;
	}
	.ncf-img, .ncb-img {
		width: 340px;
		box-shadow: -6px 10px 20px 2px rgba(0, 0, 0, 0.3);
		border-radius: 50px;
		margin-top: 10px;
		margin-bottom: 25px;
	}
	.ncf-pos1 {
		text-align: right;
		left: calc(50% - 59px);
		bottom: 274px;
		width: 160px;
	}
	.ncf-pos2 {
		text-align: right;
		left: calc(50% - 75px);
		bottom: 274px;
		width: 160px;
	}
	.ncf-name {
		left: calc(50% - 66px);
		top: 518px;
		width: 160px;
	}
	.ncf-tel {
		text-align: right;
		left: calc(50% - 118px);
		bottom: 188px;
		width: 160px;
	}
	.ncf-email {
		text-align: right;
		left: calc(50% - 198px);
		bottom: 232px;
		width: 250px;
	}
}
td span.button.button-fill {
	min-width: 30px;
}
#ltcl_spc .badge{
	margin: 2px 0;
}
body .vertical-centered-box {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
body .vertical-centered-box:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}
body .vertical-centered-box .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
* {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.popup-stpp .block, .popup-sttm .block{
	text-align: justify;
	text-justify: inter-word;
}
.demo-swiper .swiper-slide {
  font-size: 25px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}
body {
  background: #ffffff;
}
.loader-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  margin-left: -60px;
  margin-top: -60px;
}
.loader-line-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  overflow: hidden;
  -webkit-transform-origin: 60px 60px;
  -moz-transform-origin: 60px 60px;
  -ms-transform-origin: 60px 60px;
  -o-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
  -webkit-animation: rotate 1.2s infinite linear;
  -moz-animation: rotate 1.2s infinite linear;
  -o-animation: rotate 1.2s infinite linear;
  animation: rotate 1.2s infinite linear;
}
.loader-line-mask .loader-line {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
#particles-background,
#particles-foreground {
  left: -51%;
  top: -51%;
  width: 202%;
  height: 202%;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
}
#particles-background {
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg, #000000 15%, #623a1f 55%);
  background-image: -webkit-linear-gradient(45deg, #000000 15%, #623a1f 55%);
  background-image: linear-gradient(45deg, #000000 15%, #623a1f 55%);
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes rotate{ 0% { -webkit-transform: rotate(0deg);} 100% { -webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate{ 0% { -moz-transform: rotate(0deg);} 100% { -moz-transform: rotate(360deg);}}
@-o-keyframes rotate{ 0% { -o-transform: rotate(0deg);} 100% { -o-transform: rotate(360deg);}}
@keyframes rotate{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-moz-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@-o-keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
@keyframes fade{ 0% { opacity: 1;} 50% { opacity: 0.25;}}
[not-existing] {
  zoom: 1;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-moz-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@-o-keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
@keyframes fade-in{ 0% { opacity: 0;} 100% { opacity: 1;}}
[not-existing] {
  zoom: 1;
}